body {background-color: #18738f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-family:'Segoe UI' ;
    width: 480px;
    margin: 0 auto;
  }

ul{
  list-style: none;
}

#titulonorte{
    margin-top: 300px;
}

.titulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin:60px;
    color: #e6e0cf;
    text-align: center;
}

.principal{
    transition: 0.4s;
  }
.principal:hover{
    transform: scale(1.1);
  }

.botoninicio{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin:60px;
    color:#eaeaea;
    text-align: center;
}
  
.vacio{
    background-color: #b7b7a4;
    margin-top: 300px;
}

#parte1{
    display: flex;
}

#title1{
    font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, 'Cantarell', sans-serif;
    font-size: 60px;
    margin:60px;
    color: #e6e0cf;
    text-align: center;
}

#intro {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 1000px;
    margin-top: 20px;
    margin-left: 130px;
    color: #debfb5;
    
}

#title2 {
    margin-top: 50px;
    margin-left: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#intro2 {
    margin-left: 130px;
    width: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Norte {
    margin:20px;
    background-color:#debfb5;
    text-align:center;
    width: 100px;
    margin-top: 100px;
    margin-left: 200px;
    color: #eaeaea;
    padding: 40px;
    border-radius: 190px;
    font-size: 25px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder  
}

#Centro {
    margin:20px;
    background-color: #debfb5;
    text-align:center;
    width: 100px;
    margin-top: 100px;
    margin-left: 200px;
    color: #eaeaea;
    padding: 40px;
    border-radius: 190px;
    font-size: 25px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder 
}

#Sur {
    margin:20px;
    background-color: #debfb5;
    text-align:center;
    width: 100px;
    margin-top: 100px;
    margin-left: 200px;
    color: #eaeaea;
    padding: 40px;
    border-radius: 190px;
    font-size: 25px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder 
}

#Austral{
    margin:20px;
    background-color: #debfb5;
    text-align:center;
    width: 100px;
    margin-top: 100px;
    margin-left: 200px;
    color: #eaeaea;
    padding: 40px;
    border-radius: 190px;
    font-size: 25px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder 
}

#mapa{
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    top: 300px;
    left: 200px;
}

#zonasder{
  position: absolute;  
  top: 400px;
  left: 500px;
}
/* 
(a6c6c1 celeste)
(e6e0cf crema)
(debfb5 cremarosa)
(baa6a5 cafeclaro)